#root {
  height: 100%;
  .navbar {
    box-shadow: none;
    padding: 8px;
    z-index: 1074;
    .nav-brand {
      min-width: 238px;
      padding-right: 30px;
      height: 48px;
      cursor: pointer;
      &::before {
        display: none;
      }
      &:hover,
      &:active {
        background: transparent !important;
      }
      img {
        height: 40px;
      }
      span {
        padding-left: 4px;
        color: #5f6368;
        font-size: 22px;
        line-height: 24px;
        vertical-align: middle;
      }
    }
    .end-nav {
      margin-left: auto;
      display: flex;
    }
    .item {
      &.active {
        background: transparent;
        &:hover,
        &:active {
          background: transparent;
        }
      }
    }
  }
  .explorer-page {
    display: flex;
    padding-top: 64px;
    height: 100%;
    .react-contextmenu-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      .sidebar {
        position: relative;
        max-width: 394px;
        min-width: 256px;
        box-shadow: none;
        .button-tool {
          padding: 15px;
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
            0 1px 3px 1px rgba(60, 64, 67, 0.149);
          align-items: center;
          background-color: #fff;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 24px;
          color: #3c4043;
          display: inline-flex;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.15px;
          line-height: 22px;
          text-transform: none;
          font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
            sans-serif;
          height: 48px;
          margin: 15px;
          min-width: 120px;
          &:before {
            border-radius: 50%;
            border-width: 0;
            content: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2236%22 height=%2236%22 viewBox=%220 0 36 36%22%3E%3Cpath fill=%22%2334A853%22 d=%22M16 16v14h4V20z%22/%3E%3Cpath fill=%22%234285F4%22 d=%22M30 16H20l-4 4h14z%22/%3E%3Cpath fill=%22%23FBBC05%22 d=%22M6 16v4h10l4-4z%22/%3E%3Cpath fill=%22%23EA4335%22 d=%22M20 16V6h-4v14z%22/%3E%3Cpath fill=%22none%22 d=%22M0 0h36v36H0z%22/%3E%3C/svg%3E");
            display: block;
            margin-right: 15px;
            position: relative;
            height: 36px;
            -moz-box-shadow: none;
            box-shadow: none;
            opacity: 1;
          }
          &:focus {
            outline: none;
          }
          .label {
            background: transparent;
            color: #3c4043;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .item {
          text-align: left;
          font-size: 13px;
          display: flex;
          align-items: center;
          flex-direction: row;
          svg {
            overflow: visible;
            vertical-align: top;
            height: 24px;
            width: 24px;
            margin-right: 25px;
          }
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            flex: 1 1 auto;
            vertical-align: middle;
            white-space: nowrap;
          }
        }
      }
      .page-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .page-navbar {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #dadce0;
          justify-content: space-between;
          .navbar-dropdown {
            padding: 15px;
            align-items: center;
            color: #3c4043;
            display: inline-flex;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.15px;
            line-height: 22px;
            text-transform: none;
            font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
              sans-serif;
            height: 48px;
            min-width: 120px;
            &:focus {
              outline: none;
            }
            .text {
              font-size: 18px;
              font-weight: 400;
            }
            .label {
              background: transparent;
              color: #3c4043;
              font-size: 14px;
              font-weight: 400;
            }
            .menu {
              .item {
                padding: 10px 15px !important;
              }
            }
          }
          .navbar-tools {
            .btn-layout {
              border: 1px solid transparent;
              box-sizing: border-box;
              cursor: pointer;
              display: inline-block;
              margin: 0 8px;
              outline: none;
              transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                background 200ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
              border-radius: 50%;
              min-width: 0;
              overflow: visible;
              height: 40px;
              width: 40px;
              padding: 0;
              position: relative;
              vertical-align: top;
              background: transparent;
              &:focus,
              &:hover {
                background: #d6d6d6;
              }
              svg {
                opacity: 0.54;
              }
            }
          }
        }
        .context-area {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          padding: 10px;
          .layout-view {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .layout-content {
              .layout-header {
                font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
                  sans-serif;
                font-size: 14px;
                font-variant-ligatures: no-contextual;
                font-weight: 500;
                color: #5f6368;
                padding-bottom: 16px;
                h2 {
                  display: inline;
                  font-size: 14px;
                  font-weight: 500;
                  margin: 0 0 0 8px;
                }
                .list-tool {
                  display: flex;
                  flex: 0 0 48px;
                  width: 100%;
                  align-items: center;
                  border: 1px solid transparent;
                  border-bottom: 1px solid #dadce0;
                  color: rgba(0, 0, 0, 0.54);
                  span {
                    font-weight: bold;
                  }
                  .td-name {
                    flex: 4;
                    display: flex;
                    align-items: center;
                    .direction {
                      margin-left: 5px;
                      background: transparent;
                      border: none;
                      border-radius: 50%;
                      &:hover,
                      &:focus {
                        outline: none;
                      }
                      svg {
                        fill: #5f6368;
                      }
                    }
                  }
                  .td-owner {
                    flex: 1;
                  }
                  .td-modified {
                    flex: 2;
                  }
                  .td-size {
                    flex: 1;
                  }
                }
              }
              &.quick {
                &.empty {
                  .guesture {
                    width: 100%;
                  }
                }
                .main-content {
                  min-height: 250px;
                }
              }
              &.folder {
                padding-bottom: 8px;
                .main-content {
                  min-height: 64px;
                }
              }
              &.file {
                padding-top: 15px;
              }
              .main-content {
                min-height: 500px;
                display: flex;
                flex-wrap: wrap;
                .guesture {
                  &.active {
                    .detail-view {
                      background: #e8f0fe;
                    }
                  }
                }
                .list-group {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  padding: 0 7px;
                  .guesture {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      .react-contextmenu {
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.15);
        background: #fff;
        z-index: 1071;
        .react-contextmenu-item {
          cursor: pointer;
          padding: 10px 15px;
          &:hover,
          &:focus {
            background: rgba(0, 0, 0, 0.05);
          }
          &.react-contextmenu-item--divider {
            background: #e3e2e2;
            padding: 0;
            height: 1px;
          }
          i {
            margin-right: 15px;
          }
        }
      }
    }
  }
  .file-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 6px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    height: auto;
    position: relative;
    margin: 10px;
    .image-view {
      width: 100%;
      background: #f4f4f4;
      background-position: 0 0, 10px 10px;
      background-size: 21px 21px;
      flex: 1 1 auto;
      position: relative;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        &.icon {
          align-self: center;
          margin-bottom: 48px;
        }
      }
    }
    .detail-view {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: #fff;
      .icon-box {
        width: 40px;
        height: 48px;
        display: flex;
        justify-content: center;
        img {
          height: 16px;
          width: 16px;
          align-self: center;
        }
      }
      .text-box {
        width: calc(100% - 56px);
        align-items: center;
        display: flex;
        .tooltip {
          background: transparent;
          border: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 500;
          overflow: hidden;
          text-align: left;
          padding: 0;
          opacity: 1;
          color: rgba(0, 0, 0, 0.72);
          line-height: 20px;
          font-size: 13px;
          position: relative;
        }
        .popup-content {
          background-color: rgba(0, 0, 0, 0.52) !important;
          color: #fff !important;
          font-size: 10px;
          width: 150px !important;
          height: 25px !important;
          text-align: center;
          border: none !important;
          border-radius: 2px;
        }
      }
    }
    @media (min-width: 320px) {
      .image-view {
        height: 145px;
        img {
          &.icon {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
    @media (min-width: 414px) {
      .image-view {
        height: 158px;
      }
    }
    @media (min-width: 600px) {
      .image-view {
        height: 185px;
        img {
          &.icon {
            height: 64px;
            width: 64px;
          }
        }
      }
    }
    @media (min-width: 768px) {
      .image-view {
        height: 205px;
      }
    }
    @media (min-width: 1024px) {
      .image-view {
        height: 230px;
      }
    }
  }
  .list-view {
    display: flex;
    flex: 0 0 48px;
    width: 100%;
    align-items: center;
    border: 1px solid transparent;
    border-bottom: 1px solid #dadce0;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
    position: relative;
    span {
      padding-left: 2px;
    }
    .td-name {
      flex: 4;
      display: flex;
      .icon-box {
        width: 40px;
        height: 48px;
        display: flex;
        justify-content: center;
        img {
          height: 16px;
          width: 16px;
          align-self: center;
        }
      }
      .text-box {
        width: calc(100% - 56px);
        align-items: center;
        display: flex;
        .tooltip {
          background: transparent;
          border: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 500;
          overflow: hidden;
          text-align: left;
          padding: 0;
          opacity: 1;
          color: rgba(0, 0, 0, 0.72);
          line-height: 20px;
          font-size: 13px;
          position: relative;
        }
        .popup-content {
          background-color: rgba(0, 0, 0, 0.52) !important;
          color: #fff !important;
          font-size: 10px;
          width: 100% !important;
          height: 25px !important;
          text-align: center;
          border: none !important;
          border-radius: 2px;
        }
      }
    }
    .td-owner {
      flex: 1;
    }
    .td-modified {
      flex: 2;
    }
    .td-size {
      flex: 1;
    }
  }
  .folder-view {
    display: flex;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 6px;
    flex: 0 0 48px;
    margin: 10px;
    .icon-box {
      width: 40px;
      height: 48px;
      display: flex;
      justify-content: center;
      svg {
        align-self: center;
      }
    }
    .text-box {
      width: calc(100% - 56px);
      align-items: center;
      display: flex;
      .tooltip {
        background: transparent;
        border: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        overflow: hidden;
        text-align: left;
        padding: 0;
        opacity: 1;
        color: rgba(0, 0, 0, 0.72);
        line-height: 20px;
        font-size: 13px;
        position: relative;
      }
      .popup-content {
        background-color: rgba(0, 0, 0, 0.52) !important;
        color: #fff !important;
        font-size: 10px;
        width: 150px !important;
        height: 25px !important;
        text-align: center;
        border: none !important;
        border-radius: 2px;
      }
    }
  }
  @media (min-width: 320px) {
    .navbar {
      .nav-brand {
        min-width: 138px;
        padding: 13px 0;
        img {
          width: 100px;
        }
      }
    }
    .explorer-page {
      .sidebar {
        display: none;
      }
    }
    .layout-content {
      &.quick,
      &.folder,
      &.file {
        .guesture {
          width: 50%;
        }
      }
    }
    .list-view {
      .td-name {
        .text-box {
          max-width: 100px;
        }
      }
    }
  }
  @media (min-width: 375px) {
    .navbar {
      .nav-brand {
        padding: inherit;
        img {
          width: 100%;
        }
      }
    }
    .list-view {
      .td-name {
        .text-box {
          max-width: 130px;
        }
      }
    }
  }
  @media (min-width: 414px) {
    .list-view {
      .td-name {
        .text-box {
          max-width: 150px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .layout-content {
      &.quick,
      &.folder,
      &.file {
        .guesture {
          width: 33.2%;
        }
      }
    }
    .list-view {
      .td-name {
        .text-box {
          max-width: 320px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .layout-content {
      &.quick,
      &.folder,
      &.file {
        .guesture {
          width: 33.2%;
        }
      }
    }
    .list-view {
      .td-name {
        .text-box {
          max-width: 100%;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .navbar .nav-brand {
      min-width: 238px;
    }
    .explorer-page {
      .sidebar {
        display: block;
      }
    }
    .layout-content {
      &.quick,
      &.folder,
      &.file {
        .guesture {
          width: 20%;
        }
      }
    }
  }
  @media (min-width: 1366px) {
    .layout-content {
      &.quick,
      &.folder,
      &.file {
        .guesture {
          width: 25%;
        }
      }
    }
  }
  @media (min-width: 1920px) {
    .container {
      max-width: 1644px;
    }
    .layout-content {
      &.quick,
      &.folder,
      &.file {
        .guesture {
          width: 16.65%;
        }
      }
    }
  }
}

.file-upload-modal-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
}
.file-upload-modal {
  position: absolute;
  bottom: 24px;
  right: 24px;
  left: auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  max-height: 600px;
  z-index: 1073;
  transition: opacity 0.2s;
  background: #fff;
  &:focus {
    outline: none;
  }
  .modal-header {
    display: flex;
    background-color: #323232;
    border-radius: 3px 3px 0 0;
    align-items: center;
    border: 1px transparent solid;
    color: #fff;
    font-size: 14px;
    height: 52px;
    width: 300px;
    line-height: normal;
    .loading-status {
      flex: 0 1 auto;
      cursor: default;
      display: inline-block;
      font-weight: inherit;
      overflow: hidden;
      padding-right: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 362px;
    }
    .btn-group {
      display: flex;
      flex: 0 0 auto;
      .tooltip {
        border: 1px solid transparent;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
        outline: none;
        transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
          background 200ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        min-width: 0;
        overflow: visible;
        height: 40px;
        width: 40px;
        padding: 0;
        position: relative;
        vertical-align: top;
        background: transparent;
        opacity: 1;
        &:hover {
          background-color: rgba(255, 255, 255, 0.12);
        }
        .svg {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          line-height: 0;
          margin: 0;
          max-height: none;
          &:before,
          &:after {
            box-sizing: initial;
          }
        }
      }
      .popup-content {
        background-color: rgba(0, 0, 0, 0.52) !important;
        color: #fff !important;
        font-size: 10px;
        width: 60px !important;
        height: 25px !important;
        text-align: center;
        border: none !important;
        border-radius: 2px;
      }
    }
  }
  .modal-body {
    width: 300px;
    max-height: 500px;
    &.extra {
      overflow-y: scroll;
    }
    .item {
      display: block;
      border-bottom: solid 1px #eee;
      color: #222;
      padding-bottom: 6px;
      position: relative;
      cursor: pointer;
      .content {
        display: flex;
        min-height: 30px;
        padding: 0 10px;
        .logo {
          display: inline-block;
          left: 0;
          line-height: normal;
          margin: 0 10px 0 10px;
          position: absolute;
          padding-top: 15px;
          &.loading {
            opacity: 0.5;
          }
          img {
            width: 16px;
            height: 16px;
          }
        }
        .name {
          display: flex;
          flex: 1 1 auto;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 12px;
          max-width: 250px;
          &.loading {
            opacity: 0.5;
          }
          span {
            &:first-child {
              flex: 0 1 auto;
              height: 25px;
              margin-top: 1px;
              min-width: 25px;
              padding-left: 30px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &:last-child {
              flex: 1 0 auto;
              color: #757575;
              margin-top: 1px;
            }
          }
        }
        .status {
          padding: 10px 0px 0px 5px;
          .loading {
            width: 24px !important;
            height: 24px !important;
          }
          .icon {
            border: 1px solid transparent;
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            outline: none;
            transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
              background 200ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 50%;
            min-width: 0;
            overflow: hidden;
            text-align: initial;
            height: 24px;
            width: 24px;
            padding: 0;
            position: relative;
            vertical-align: top;
            .btn {
              position: absolute;
              visibility: hidden;
              left: 50%;
              line-height: 0;
              top: 50%;
              transform: translate(-50%, -50%);
              outline: none;
              svg {
                overflow: visible;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1075;
  background: rgba(0, 0, 0, 0.54);
  .create-folder-modal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 8px 40px rgba(0, 0, 0, 0.4);
    padding: 24px;
    border-radius: 8px;
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 350px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    .modal-header {
      border: none;
      border-bottom: 1px solid transparent;
      font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
        sans-serif;
      padding: 0;
      color: #000;
      cursor: default;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      margin: 0 0 16px;
      span {
        color: #222;
        font-size: 20px;
      }
      .tooltip {
        border: 1px solid transparent;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        outline: none;
        transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
          background 200ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        min-width: 0;
        overflow: visible;
        height: 25px;
        width: 25px;
        padding: 0;
        position: relative;
        vertical-align: top;
        background: transparent;
        opacity: 1;
        &:hover {
          background-color: rgba(255, 255, 255, 0.12);
        }
        .svg {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          line-height: 0;
          margin: 0;
          max-height: none;
          &:before,
          &:after {
            box-sizing: initial;
          }
        }
      }
      .popup-content {
        background-color: rgba(0, 0, 0, 0.52) !important;
        width: 60px !important;
        height: 25px !important;
        text-align: center;
        border: none !important;
        border-radius: 2px;
        padding: 0 !important;
        span {
          font-size: 10px !important;
          color: #fff !important;
        }
      }
    }
    .modal-body {
      background-color: #fff;
      word-wrap: break-word;
      line-height: 1.4em;
      color: #000;
      padding: 0;
      width: 100%;
      input {
        border-radius: 1px;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        font-size: 13px;
        height: 35px;
        padding: 1px 8px;
        width: 100%;
      }
    }
    .modal-footer {
      text-align: right;
      padding: 20px 0 0 0;
      .btn {
        border: 1px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        margin: 0 8px;
        outline: none;
        overflow: hidden;
        transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
          background 200ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 2px;
        font-weight: 500;
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        min-width: 64px;
        padding: 0 16px;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 30px;
        min-height: 32px;
        background: transparent;
        color: #202124;
        fill: #202124;
        &.save {
          background: #4285f4;
          color: rgba(255, 255, 255, 1);
          fill: rgba(255, 255, 255, 1);
          margin-right: 0;
        }
      }
    }
  }
}
